<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /fillup route -->
          <form action="/fillup" method="POST">
            <div class="form-group">
              <label for="text">Facility Type</label>
              <input type="email" class="form-control" name="FacilityType">
            </div>
            <div class="form-group">
              <label for="email">Mail For Notification</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="text">Connected Load</label>
                <input type="email" class="form-control" name="ConnectedLoad">
              </div>
             <div class="form-group">
                <label for="text">Site Loacation</label>
                <input type="email" class="form-control" name="SitLoaction">
              </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
    
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
